* {
    overflow-x: hidden; 
}
/* Home */
.container {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-repeat: none;
    background-position: center;
    background-size: cover;
    font-family: 'Crimson Text', serif;
    font-weight: 600;   
}
.container__list {
    width: 100%;  
    height: 10vh;
    position: fixed;
    background: #242422;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    z-index: 800;
    padding: 10px;     
}
.container__list--item--desk {
    visibility: hidden;
    display: none;
}
.container__list--item--image {
    width: 120px;
    /* padding-left: 20px; */
}
@media screen and (min-width: 978px) {
    .container {
        position: relative;
        display: flex;
        width: 100vw;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        font-family: 'Crimson Text', serif;
        font-weight: 600;
        font-size: 2rem;
    }
    .container__list--item--desk {
        visibility: visible;
        display: block;
    }
    .container__list {
        position: fixed;
        padding: 0 40px; 
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        height: 100px;
        z-index: 500;
    }
    .container__list--item--image {
        width: 150px;
    }
    .container__list--item--mobile {
        display: none;
    }
    .container__list--item--desk:hover {
        border-bottom: 2px solid #b4786f;
    }
}
/* Menu */
.menu {
    visibility: hidden; 
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    font-weight: 400;
    font-size: 1.5rem;
}  
.menu__content {
    background: #242422;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    align-items: center;
    max-width: 70vw;
    height: 100vh;
    width: 100%; 
}
.menu__content--button {
   border: none;
   background-color: #242422;
   color: #fbf6e5;
   font-size: 1.25rem;
   font-family: inherit;
   margin-left: 120px;
   border-bottom: 2px solid #b4786f;
}
.menu__content--button:hover {
   
} 
.menu__content--item {
    display: block;
    padding: 40px;
}
.menu__content--item:hover {
    border-bottom: 2px solid #b4786f;
}
/* About */
.about {
    max-width: 100vw;
    font-size: 1.5rem;
    background: #242422;
    color: #fbf6e5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about__heading {
    max-width: 80vw;
    letter-spacing: 0.03rem;
    padding-top: 45px;
}
.about__para {
    text-align: left;
    padding: 30px;
}
.about__image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    padding: 10px;     
}
@media screen and (min-width: 978px) {
    .about {
        position: relative;
        font-size: 1.5rem;
        width: 100vw;
        height: 100vh;
    }
    .about__flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about__image {
        width: 500px;
        height: 500px;
        padding: 10px;
        margin: 20px;
    }
    .about__para {
        width: 600px;
        height: 500px;
        line-height: 1.75;
    }
    .about__heading {
        position: relative;
        left: 150px;
        padding: 60px 30px 0 10px; 
    }
}
/* Portfolio */
 #portfolio {
    background: #edecea;
    padding: 40px;
    width: 100vw;
    height: auto;
    overflow-x: hidden;
   
}   
.portfolio__imagesJS {
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    border: 10px solid #eee;  
    position: relative; 
    
}
.portfolio__imagesJS--img {
    display: block; 
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.portfolio__imagesJs--overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    opacity: 0;
    transition: opacity 0.75s; 

}
.portfolio__imagesJs--overlay > * {
    transform: translateY(20px);
    transition: transform 0.75s;
}
.portfolio__imagesJs--overlay:hover {
    opacity: 1;
}
.portfolio__imagesJs--overlay:hover > * {
    transform: translateY(0px);
}
.portfolio__imagesJs--overlay h3 {
    font-size: 34px;
}

@media screen and (min-width: 986px) {
    .portfolio {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        max-width: 80vw;
        margin-left: auto;
        margin-right: auto;
        
    } 
    .portfolio__imagesJS--img {
        object-fit: cover;
        width: 100%;
        height: 100%;    
    }   
}
/* Contact */
.contact {
    background: #242422;
    color: #fbf6e5;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.contact__text {
    width: 500px;
    letter-spacing: 0.2rem;
}
.contact__text h1, h2 {
    padding: 10px 0 10px 0;
}
.contact__text p {
    padding-bottom: 30px;
    font-size: 1.25rem;
}
